.emoji-container {
  position: relative; 
  width: 100%;  
}

.emoji-picker {
  position: absolute;
  top: 60px;  
  left: 20px;  
  width: auto;  
  max-height: 350px;
  overflow-y: scroll;
  background-color: #fff;  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 1000;  
}

.emoji-picker.active {
  opacity: 1;
  transform: scale(1);
}

.emoji-picker::-webkit-scrollbar {
  width: 8px;
}

.emoji-picker::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 4px;
}

@media (max-width: 600px) {
  .emoji-picker {
      left: 10px;  /* Less offset on smaller screens */
      width: calc(100% - 20px);  /* Adjust width to fit within smaller screens */
  }
}